:root {
    --bnt--color: rgb(108, 108, 236);
    --main-alert-color: rgba(255, 255, 255, 0.947);
    color-scheme: dark light;
}

/* body {
    background-image: url('outdoor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    margin: 0%;
    width: 100%;
    height: 100vh;
} */

.background {
    background-color: transparent;
    border: 5px solid rgb(39, 39, 39);
    border-radius: 8px;
    width: 400px;
    height: 300px;
    margin: 10px;
    margin-left: 50px;
}

.background-alert {
    filter: drop-shadow(75%);
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.308);
    width: 100%;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 700;
}

.background-alert .alert-white {
    backdrop-filter: blur(122px) saturate(1800px);
    -webkit-backdrop-filter: blur(1600px) saturate(180%);
    background-color: var(--main-alert-color);
    background-color: light-dark(rgba(255, 255, 255, 0.947),rgba(25, 26, 41, 0.947));
    color: light-dark(rgba(25, 26, 41, 0.947), rgba(255, 255, 255, 0.947));
    border-radius: 1.7em;
    width: 44em;
    height: 20em;
    padding: min(2.7em, 8%);
    padding-top: 4px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    overflow: hidden;
    box-shadow: none; 
    transition: 2s;
}

.background-alert .alert-white::before {
    content: "Your company name → in line 61 in document style.css";
    position: absolute;
    background-color: var(--main-alert-color);
    border-radius: 20px;
    margin: 20px;
    color: var(--bnt--color);
    bottom: 0%;
    left: 0%;
    padding: 2px;
    padding-left: 10px;
    background-color: light-dark(rgba(255, 255, 255, 0.947),rgba(25, 26, 41, 0.947));
}

.background-alert .alert-white .text-field {
    overflow-y: auto;
    height: min(67%, 74vh);
    border-radius: 12px;
    margin-top: -20px;
    overflow-inline: clip;
    scroll-behavior: smooth;
}

.background-alert .alert-white .text-field h2 {
    top: 0%;
    left: 0%;
}

.background-alert .alert-white .bnt {
    background-color: var(--bnt--color);
    color: azure;
    display: flex;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    float: right;
    bottom: 0px;
    border-radius: 20px;
    padding: 12px;
    padding-left: 77px;
    padding-right: 77px;
    margin: 7px;
    margin-inline-start: 20%;
    font-size: 17px;
    transition: 1.4s;
    z-index: 10;
}

.background-alert .alert-white .bnt:active ~ .background-alert {
    display: none;
}

@media only screen and (max-width: 400px) {
    .background-alert .alert-white {
        backdrop-filter: blur(122px) saturate(1800px);
        -webkit-backdrop-filter: blur(1600px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.947);
        width: 100em;
        height: 100em;
        padding-top: 4px;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin: auto;
        overflow: hidden;
        border: none;
        border-radius: 0px;
        background-color: light-dark(rgba(255, 255, 255, 0.947),rgba(25, 26, 41, 0.947));
        color: light-dark(rgba(25, 26, 41, 0.947), rgba(255, 255, 255, 0.947));
    }

    .background-alert .alert-white::before {
        display: none;
    }

    .background-alert .alert-white .bnt {
        width: min(8%, 100vh);
        margin-left: auto;
        margin-right: auto;
        bottom: 0%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-alert-color: rgba(25, 26, 41, 0.947);
    }
}

.background-alert .alert-white .bnt:hover {
    background-color: rgb(163, 163, 241);
    scale: 1.04;
}

.background-alert .alert-white .bnt:active {
    scale: 0.97;
}

.title {
    margin-top: 20px;
}

/* Made by Dennis and on Github https://github.com/DedeProgrammer */
